.auth_SingUp_form-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 450px;
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
}

.form_SingUp_page h2 {
  color: #00adb5;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-top: 30px;
}

/* .SingUpFormInput {
  height: 100px;
  margin-left: 100px;
} */

.SingUpFormInput Form {
  height: 50px;
  margin-left: 40px;
  margin-top: 30px;
}
