.auth_login_form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 50px;
}
                
.form_Login_page h2{
 color: #00adb5;
 font-family: "Josefin Sans", sans-serif;
 margin-bottom: 30px;
}

.loginFormInput{
                              height: 80px;
}