.flex_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ibr_header_sides_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: 5%;
}

.ibr_right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  margin-top: 50px;
}

.ibr_left_side img {
  height: 450px;
  width: 430px;
  object-fit: cover;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 1.4px solid #fff;
}

.ibr_left_side_text {
  color: #e2e2e2;
  font-size: 60px;
  font-family: "Cormorant Upright", serif;
  margin-left: 60px !important;
}

.ibr_right_side_text {
  height: 450px;
  width: 630px;
  color: #ffffff;
  font-size: 30px;
  font-family: "Cormorant Upright", serif;
  margin-left: 60px !important;
  margin-top: 20px;
}

.ibr_right_side_small_text {
  margin-top: 20px;
}

.ibr_animation_header_page {
  margin-top: 30px !important;
  height: 200px;
  width: 250px;
  z-index: 100;
  margin-top: -50px !important;
  margin-left: 450px;
}

/* 
 font-base: 'Cormorant Upright', serif;
 font-alt: 'Open Sans', sans-serif;
 font-family: 'Macondo', cursive;
 font-family: 'Dancing Script', cursive; 
 */
