* {
  margin: 0;
  padding: 0;
}

.app__bg {
  background: url("./assets/images/camera.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}
