body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alert_error_danger {
  color: red;
  border: 1px solid red;
  background-color: #fff;
  height: 30px;
  width: 300px;
}
